#main{
    min-height: 650px;
}

#main a{
  color: black;
}

.indexContainer{
  margin-top: 10%;
  background-color: rgba(60, 131, 104, 0.2);
  border-radius: 1rem;
  min-height: 600px;
}

.indexHolder{
  margin-top: 2%;
  margin-bottom: 2%;
}

.indexButton{
  background-color: rgba(60, 131, 87, 0.8);
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  width: 8rem;
}

.indexButton:hover{
  background-color: white;
  color: #CFB53B;
  border-color: black;
}

.indexRow{
  justify-content: center;
}

.sectionphoto{
  object-fit: cover;
  width: 450px;
}

.addButton{
}

.mainTable{
  margin-top: 3%;
  margin-bottom: 3%;
}
