#background{
  height: 670px;
  display: flex;
}

#background img{
  position: relative;
  z-index: -1;
  display: block;
  width: 100%;
  object-fit: cover;
}
#background #services{
position: absolute;
color: white;
align-self: center;
padding-left: 20%;
font-size: 4rem;
}

#aboutdiv{
  background-color: rgba(60, 87, 131, 0.1);

}
