
#background{
  height: 670px;
}
#background #backgroundImg{
  position: absolute;
  object-fit: cover;
  width: 100%;
}

#textleft .list1{
list-style-type: none;
}
#textleft .list1 .listit1{

}

#background .titles{
  position: absolute;
  margin-top: 10rem;
}

#background .titles h4{
  color: #517245;
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 500;
  flex-wrap: wrap;
}
#background .titles #h1{
  font-size: 3.25rem;
  font-weight: 600;
  color: white;
}


#aboutdiv{
  display:flex;
  align-items: center;
  justify-content: space-around;
  min-height: 200px;
  background-color: rgba(60, 87, 131, 0.2);
  padding: 3% 0;
  margin-bottom: 6%;
  border-radius: 0.7%;
}
#aboutdiv #aboutleft{
  display: flex;
  flex-direction: column;
}
#aboutdiv #aboutleft .abouttitle{
font-weight: 500;
font-size: 3rem;
margin-bottom: 5%;
}
#aboutdiv #aboutleft .abouttext{
justify-content: center;
}
#aboutdiv #aboutright{
  display: flex;
  justify-content: center;
}
#aboutdiv #aboutright img{
  object-fit: contain;
}

#aboutdiv #aboutleft #contactme{
  display: inline-block;
  text-decoration: none;
  align-self: center;
  font-size: 1.3rem;
  color: black;
  transition: color 0.5s, background-color .5s;
  border: 2px solid black;
  padding: 5px 7px;
  width: 8rem;
}
#aboutdiv #aboutleft #contactme:hover{
  background-color: rgba(87, 131, 60, 0.6);
  color: white;
}

#tridad, #tools{
display: flex;
justify-content: space-around;
}

#tridad .tri{
  min-height: 150px;
  background-color: #3C7A83;
  opacity: 0.7;
  display:flex;
  margin-bottom: 7%;

}

#tridad .tri .inspace{
justify-content: center;
flex-direction: column;
margin: 10% 13%;
}
#tridad .tri .inspace h2{
color: white;
margin-bottom: 5%;
}
#tridad .tri .inspace p{
color: white;
margin-bottom: 8%;
}
#tridad .tri .inspace .readmorebutton{
  text-decoration: none;
  display: inline-block;
  transition: color .5s, background-color .5s;
  color: white;
  border: 2px solid white;
  padding: 5px 7px;
}
#tridad .tri .inspace .readmorebutton:hover{
  background-color: white;
  color: #3C5783;
}

#tools{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5%;

}
#tools .shadebox{
  border: 2px solid rgba(60, 122, 131, 0.8);
  border-radius: 2%;
  box-shadow: 2px 1px 5px black;
  min-height: 100px;

}

#tools .shadebox .inspace{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5% 0%;
}
#tools .shadebox .inspace h2{
margin-bottom: 5%;
}
#tools .shadebox .inspace p{
margin-bottom: 8%;
}
#tools .shadebox .inspace a{
  display: inline-block;
  text-decoration: none;
  transition: color .5s, background-color .5s;
  color: black;
  border: 2px solid black;
  padding: 5px 7px;
  width: 100px;
}
#tools .shadebox .inspace a:hover{
  text-decoration: none;
  background-color: rgba(87, 131, 60, 0.6);
  color: white;
}



@media screen and (max-width: 600px){


}
