html{
  font-family: 'Raleway','Work Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}
body{
  background-color: #FAFFF9;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Noto Sans Jp';
}
h1{
  font-size: 50px;
}
#header{
  position: fixed;
  display: flex;
  margin: 0 auto;
  z-index: 999;
  width: 100%;
}
#nav{
  background-color: #517245;
  display: flex;
  justify-content: space-between;

}
#nav #logo{
  height: 100%;
}
#nav .bar{
  justify-content: space-between;
  align-content: center;
}

#nav .bar #navlist{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 1%;
}


#nav .bar #navlist li{
  list-style: none;
}

#nav .bar #navlist li a{
  display: flex;
  color: white;
  transition: color .5s;
  justify-content: center;
  width: 100%;
  font-weight: 500;
  font-size: 2rem;
  text-decoration-line: none;
}

#nav .bar #navlist li a:hover{
color: black;
}

#nav .bar #navlist .dropdown .dropdown-menu a{
  color: black;
  font-size: 1rem;
}
#nav .bar .smallbar #dropdownsmallmenu{
  color: white;
  font-size: 1.4rem;
}

#nav .smallbar .dropleft a{
  color: black;
  text-decoration-line: none;
}

#main{
  min-height: 400px;
}




#mainbody{
  min-height: 680px;
  white-space: nowrap;
}

#footer{
min-height: 150px;
margin-top: 5%;
background-color: #517245;
color: white;
display: flex;
justify-content: space-around;
}
#footer .footerlist{
justify-content: left;
flex wrap: wrap;
}
#footer .footerlinks{
}
#footer ul {
list-style: none;
}
#footer ul li{
}
#footer ul li a{
color: white;
transition: color .5s;
text-decoration-line: none;
}

#footer ul li a:hover{
color: black;
}



@media screen and (max-width: 600px){
font-size: 62.5;

}
